.last-step-wrapper {
  min-height: 502px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.last-step-wrapper .thank-you-img {
  margin-bottom: 1.2rem;
}

.last-step-wrapper .thank-you-text {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 1.2rem;
}

.last-step-wrapper .thank-you-description {
  font-size: 15px;
  color: hsl(231, 11%, 63%);
  line-height: 25px;
}

/*media*/

@media screen and (max-width: 768px) {
  .last-step-wrapper {
    padding-right: 0;
  }
}
